{
    "log-level": "info",
    "password": "you shall not pass",
    "audio-handler": "magma",
    "magma": {
        "array-provider": "create-new",
        "__comment__": "change this at your own risk. DON'T COMPLAIN IF IT CRASHES"
    },
    "lavalink": {
        "ws-path": "/lavalink"
    },
    "send-system": {
        "type": "nas",
        "async": true,
        "nas-buffer": 400,
        "non-allocating": true
    },
    "node": {
        "region": "br",
        "id": "1234"
    },
    "prometheus": {
        "enabled": true,
        "path": "/metrics"
    },
    "sentry": {
        "dsn": null,
        "tags": null,
        "log-level": "warn"
    },
    "transport": {
        "http": {
            "port": 5000,
            "rest": true,
            "ws": true
        },
        "singyeong": {
            "enabled": false,
            "dsn": "singyeong://andesite@localhost:9876"
        }
    },
    "source": {
        "bandcamp": true,
        "beam": true,
        "http": false,
        "local": false,
        "soundcloud": true,
        "twitch": true,
        "vimeo": true,
        "youtube": true
    }
}